* {margin:0 auto; }

#intro_pro {width: 1200px; height:550px; position:relative; }
.tc {text-align:center; }
.con_tt {font:bold  36px 'malgun gothic'; color:#333;}

/*소방안전*/
#so_lay1 {width:286px; height:380px; top:80px; position:absolute; }
.so_line_t {width:162px; height:2px; background:black;  }
#so_img {margin-top:20px; margin-left:80px; }
.so_t {font:bold 20px 'malgun gothic'; position:absolute; top:150px; margin-left:100px; }
.so_tt {font:14px 'malgun gothic'; color:#333; margin-left:5px; position:absolute; top:190px; line-height:25px; }
.so_more {position:absolute; left:105px; top: 320px;}
.so_line_b {width:162px; height:2px; background:black;  margin-top:20px; }
.so_line_b2 {width:162px; height:2px; background:black;  position:absolute; left:60px; bottom:0px; }

/*조명 사인*/
#jo_lay1 {width:286px;  height:380px; position:absolute; top:80px; margin-left:450px; }
.so_line_t {width:162px; height:2px; background:black; }
#jo_img {margin-top:20px; margin-left:110px; }

/* LED패널 */
#lo_lay1 {width:286px; height:380px; right:0px; top:80px; position:absolute; }
.so_line_t {width:162px; height:2px; background:black; }
#lo_img {margin-top:20px; margin-left:90px; }

/* 회사소개 main */
#intro_co {width:1200px; height:373px; position: relative;}
#intro_co_tm {font:20px 'malgun gothic'; color:#333; margin-left:80px; margin-top:30px; line-height: 30px; }
#intro_co_mp {right:80px; top:80px; position: absolute; }
#read_more {margin-left:80px; margin-top:20px;}

/* 지도 */
#map_ma {width:100%; height: 440px; clear:both; }