/* 인사말 */
#hello_t {font-size:16px; }
#he_img {position: absolute; right: 70px; top: 80px;}

/* 제품소개 - 안전 */
.tc {text-align: center;}
.tft {font-size: 16px; }
#safe_box {position:relative;  width: 150px; }
#light_box {position:relative; top:-170px; left: 250px; width: 150px; }
#inte {position:relative; top:-345px; left: 500px; width: 150px; }

/* 주요납품 실적 */
#aworld {max-width: 1200px; height:1050px;  position: relative;}
#awo_tab {position: absolute; left: 300px; top: 150px;}
.list-table thead th{ height:40px; border-top:2px solid #09C; border-bottom:1px solid #CCC; font:bold 17px 'malgun gothic';  }
.list-table tbody th{ text-align:center; padding:10px 0; border-bottom:1px solid #CCC; height:20px; font: 14px 'malgun gothic';}
.list-table tbody td{ text-align:center; padding:10px 0; border-bottom:1px solid #CCC; height:20px; font: 14px 'malgun gothic';}

/* 인증서 */
.tft {font-size: 16px; }
#che_1 {position: absolute; top: 60px; left: 300px;}
#che_2 {position: absolute; top: 60px; left: 600px;}
#che_3 {position:absolute; top: 60px; left: 900px;}
#che_4 {position: absolute; top: 400px; left: 300px;}
#che_5 {position:absolute; top: 400px; left: 600px;}
#che_6 {position:absolute; top: 400px; left: 900px;}
#che_7 {position:absolute; top: 750px; left: 300px;}
#che_8 {position:absolute; top: 750px; left: 600px;}
#che_9 {position:absolute; top: 750px; left: 900px;}
#che_10 {position:absolute; top: 1100px; left: 300px;}
#che_11 {position:absolute; top: 1100px; left: 600px;}

/* 오시는 길*/
#com_map {max-width: 1200px; height:700px;  position: relative;}
#map_line {position: absolute; left: 300px; top: 130px;}
#map_tt {position: absolute; font:14px 'malgun gothic'; color:#333; position: absolute; top: 530px; left: 310px; line-height: 25px;}