@charset "utf-8";
/* CSS Document */

/*basic setting*/
*{margin:0; border:0; padding:0;}
body,html{height:100%;}
body{font-size:0.75em; font-family:"Malgun Gothic"; line-height:160%; color:#333;}
a{text-decoration:none; color:#333;}
a:hover{text-decoration:underline; color:#666;}
ul,li{list-style-type:none;}
input,select,textarea,button {font-size:0.89em; font-family:"Malgun Gothic"; border:1px solid #ddd; padding:7px;}
[type="button"], [type="reset"],button {cursor:pointer; padding:10px 20px; color:white; background:#704241;}
[type="submit"]{cursor:pointer; padding:10px 20px; color:white; background:#855756;}
img, fieldset {border:0; vertical-align:middle;}
[type="text"]:focus, [type="password"]:focus {background:#fffce4;}

/*basic class css setting*/
.fl {float:left;}
.fr {float:right;}

.mt20 {margin-top:20px;}
.mb20 {margin-bottom:20px;}
.pt20 {padding-top:20px;}
.pb20 {padding-bottom:20px;}

.ac {text-align:center;}
.al {text-align:left;}
.ar {text-align:right;}

.w100 {width:100%;}
.w90 {width:90%;}

.dn {display:none;}
.db {display:block;}

.hilight {background:rgba(255,255,0,.5);}
.hit {background:red; color:white; padding:2px;}

/*basic Design setting*/
header,article,footer {width:100%; float:left; position:relative;}
.inner {width:960px; margin:0 auto;}

/*join-modal layer popup*/
#join_bg {width:100%; position:absolute; top:0; left:0; background:rgba(0,0,0,.5); z-index:999;}
#join {width:254px; height:275px; background:white; position:fixed; top:50%; left:50%; margin:-130px -125px; z-index:1000; border:2px solid white;}
#join input:not(.not) {width:100%; box-sizing:border-box; border:0; border-bottom:1px solid #ddd; padding:15px;}
#join div {width:100%; box-sizing:border-box; padding:15px 15px; font-weight:bold; background:#704241; color:white;}
#join input.not {width:50%; box-sizing:border-box; border:0; padding:15px; float:left;}

/*header*/
header {height:70px; padding-top:10px; position:fixed; z-index:300; background:rgba(0,0,0,.6)}
header h1 {width:120px; float:left;}
header h1 img {width:120px; margin-top:-10px;}

#menu {float:left; margin-top:20px; text-align:center; margin-left:10px;}
#menu a {color:white;}
#menu a:hover {color:#704241; text-shadow:2px 2px 2px white;}
#menu > li {float:left; margin-right:20px; font-size:1.2em; font-weight:bold;}
#sub { margin-top:31px; padding:5px; background:rgba(0,0,0,.6);}
#sub > li {font-size:0.89em; padding:5px;}

#cart {float:right;}
#cart img {width:50px; cursor:pointer;}

/*article*/
article {min-height:300px; background:#eee;}

/*slider*/
#slide {position:fixed; width:100%; height:400px; top:0; left:0; z-index:198; overflow:hidden;}

#slider {}
#slider li {float:left;}
#slider li img {width:100%; float:left;}

#slide_index {position:absolute; z-index:199; bottom:10px; left:50%; transform:translate(-50%,0)}
#slide_index li {float:left;}
#slide_index a {float:left; width:20px; height:20px; background:white; border-radius:50px; text-indent:-9999em; margin-left:10px;}
.now {background:red !important;}

#slide_button {position:absolute; z-index:199; opacity:0.3; width:100%; top:50%; transform:translate(0,-50%);}
#slide_button:hover {opacity:1;}
#slide_button img {height:80px;}
#left_button {float:left; margin-left:50px;}
#right_button {float:right; margin-right:50px;}

/*trash*/
#trash1 {position:absolute; z-index:201; width:100%; height:80px; background:#b56463; top:0; left:0; display:none;}
#trash2 {position:absolute; z-index:201; width:100%; height:80px; background:#704241; top:80px; left:0; display:none;}
#trash3 {position:absolute; z-index:201; width:100%; height:80px; background:#9c3d3b; top:160px; left:0; display:none;}
#trash4 {position:absolute; z-index:201; width:100%; height:80px; background:#926a69; top:240px; left:0; display:none;}
#trash5 {position:absolute; z-index:201; width:100%; height:80px; background:black; top:320px; left:0; display:none;}

#trash6 {position:absolute; z-index:202; width:10px; height:0%; top:0; left:30%; background:white; opacity:.5;}
#trash7 {position:absolute; z-index:202; width:0%; height:10px; bottom:30%; left:0; background:white; opacity:.5;}

/*content*/
#content {width:100%; float:left; background:#eee; min-height:500px; margin-top:400px; position:relative; z-index:250; box-sizing:border-box;}

/*회원 세션 폼*/
#login {width:100%;float:left; background:#e9e9e9; height:50px; line-height:50px;}
#login form {margin-left:70px;}

#login_session {margin-left:70px;}
#login_session strong {font-size:1.4em; color:#704241;}

/*상품*/
#content section {width:100%; box-sizing:border-box; padding:0 20px; text-align:center; min-height:250px; margin-top:40px; float:left;}
#content section h2 {height:50px; font-size:1.7em;}
#content img {width:200px; height:133px; margin:0 10px; display:inline-block; float:right;}
#content button {margin-top:10px; float:right;}






/*footer*/
footer {background:#fff; height:150px; float:left; line-height:150px;}




/*sub_content 서브*/
#sub_content {margin-top:100px; padding-bottom:50px;}
#sub_content .inner {padding:0 50px; box-sizing:border-box;}

/*fontsize*/
#fontsize {width:100%;float:left; height:80px; margin-top:20px;}
#sub_content img {float:left; cursor:default !important;}
#sub_content h2 {font-size:1.9em; width:200px; float:left;}
#fontsize ul {float:right;}
#fontsize li {float:left; margin-left:10px;}
#fontsize a {text-decoration:underline;}
#fontsize img {width:30px; margin-top:-10px; cursor:pointer;}

/*hello*/
#hello {float:left; padding-bottom:50px; width:100%;}
#hello div {float:left; width:500px;}
#hello figure {width:300px; float:right;}
#hello img {width:300px;}
#hello figcaption {text-align:center; font-size:1.2em; margin-top:3px; float:left;}

/*info*/
#info {float:left; width:100%; padding-bottom:50px;}
#video {margin-bottom:30px; height:500px;}
#video video {width:90%; margin-left:5%; margin-top:30px;}
#video_left {float:left; width:49%;}
#video_right {float:right; width:49%;}

/*coffee*/
 /*computer*/
#coffee {float:left; width:100%; padding-bottom:50px;}
#coffee img {width:100%; height:200px;}
#coffee ul {float:left; margin:10px; width:260px;}
#coffee li:not(.coffee_image) {width:100%; text-align:center; font-size:1.2em; line-height:200%;}
#backtotop {display:none;}

/*table Design*/
table {width:100%; border-collapse:collapse; vertical-align:middle; text-align:center;}
th{padding:10px; font-weight:normal; font-size:1.2em; border-bottom:1px solid #ddd; border-top:2px solid #704241;}
td{padding:7px; font-size:1.1em; border-bottom:1px solid #ddd;}
table button {padding:5px 10px;}

/*wrtie from Design*/
.write {width:100%; float:left; border-top:2px solid #704241; padding-bottom:50px;}
.write ul {width:100%; float:left; border-bottom:1px solid #ccc; min-height:45px; line-height:45px;}
.write li:nth-of-type(1) {float:left; width:140px; background:#ddd; height:100%; height:45px; text-indent:10px;}
.write li:nth-of-type(2) {float:left; width:700px; text-indent:10px;}
.write li:nth-of-type(2) input {width:600px;}



/* reser drag & drop */
#reser {padding-bottom:30px;}
#reser ul#drag {margin-top:30px; width:480px; float:left;}
#reser li img {width:100px; height:100px;}
#reser figure {width:100px; height:120px; text-align:center; float:left;  margin:5px; font-size:0.9em;}

#dropzone {width:370px; height:510px; border:1px solid #ccc; float:left; margin-top:30px; text-align:center; position:relative;}

#drop_cancle {width:30px; height:40px; background:black; color:white; position:absolute; top:0; right:0; line-height:40px; cursor:pointer;}

#drop {width:200px; height:200px; border:1px solid #ccc; margin:0 auto; margin-top:30px;}

#drop img {width:200px; height:200px;}

#drop_info {margin-top:10px;}
#drop_info li:nth-of-type(1) {float:left; width:150px; text-align:right;}
#drop_info li:nth-of-type(2) {float:left; width:120px; text-align:left; margin-left:10px;}

#reser_info {margin-top:10px; width:100%; float:left;}




/* 댓글의 댓글 */
#replybox {width:100%; float:left; min-height:10px;}

#reply_form {width:100%; float:left; margin-bottom:10px;}
#reply_form textarea {width:700px; resize:none; height:70px; float:left;}
#reply_form [type="button"] {width:100px; height:85px; float:left; margin-left:5px;}

#replybox li {width:100%; float:left; border-bottom:1px solid #ccc; padding:10px 0;}
.user_id {float:left; font-size:1.4em; font-weight:bold; margin-right:10px;}
.reply_date {float:left; font-size:0.89em; margin-top:1px; margin-right:10px;}
.reply_reply {float:left; font-size:0.8em;}

.reply_content {float:left; width:100%; margin-top:10px;}

#reply_reply_box {float:left; margin-top:10px;}

#reply_reply_box span {float:left; margin-right:10px;}
#reply_reply_box textarea {width:600px; resize:none; float:left; height:70px;}
#reply_reply_box [type="button"] {width:100px; height:85px; float:left; margin-left:5px;}

.more_reply > div {float:left;}
.more_reply span {float:left; padding-left:50px; padding-right:5px;}