#sub_content {
    width:1200px;
    position:relatvie;
    border:solid 1px red;
}

#sub_title{
    font:bold 26px 'malgun gothic';
}

#sub_product {
    width:1000px;
    border:solid 1px red;
}

.subproduct_info {

}
.sub_product_info {
    width:300px;
    height:250px;
    border:solid 1px blue;
    margin-left:0px;

}