header {
    width:1200px;
    border:solid 1px red;
    margin:0 auto;
}
#logo {
    font-size:36px;
    margin-top:10px;
    margin-left:20px;
}
#search_area {
    margin-top:-40px;
    margin-left:250px;
}
#search_area > #search_input {
    padding:10px;
    border-radius:50px;
    width:700px;
}
#search_area > img {
    margin-top:-40px;
    margin-left:730px;
}
#catagory {
    width:250px;
    height:300px;
    border:solid 1px red;
    background:#0099ff;
    color:white;
    position:relative;
}
#catagory_title {
    padding:10px;
    background:#0066cc;
}
#menu {
    position:absolute;
    left:-40px;
    top:25px;
}
#menu > ul {
    list-style: none;
}
#menu > ul > li {
    width:250px;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:solid 2px white;
}
#menu > ul > li:hover {
    background:#58c1fd;
}
#catagory_hover_img {
    width:950px;
    height:300px;
    border:solid 1px red;
    float:right;
    margin-top:-300px;
}

section {
    width:1200px;
    height:375px;
    margin: 0 auto;
    margin-top:20px;
}
#sec1_title {
    margin-top:10px;
    font:bold 24px  'malgun gothic';

}
#sec1_update {
    float:right;
    margin-top:-20px;
}
#sec1_product {
    margin: 0 auto;
    margin-top:30px;
}
.product_info {
    height:300px;
    width:200px;
    border:solid 1px red;
}
.product_rank {
    background:#70c2ec;
    width:50px;
    height:50px;
    text-align:center;
    color:white;
    font:bold 24px 'malgun gothic';
    line-height:50px;
}
#sec1_product > .product_info {
    float:left;
    margin-left:20px;
}
.product_img {
    margin-top:-50px;
    width:200px;
    height:200px;
    border:solid 1px red;
}
.product_title {
    font:bold 18px 'malgun gothic';
}
.product_price {
    font: 16px 'malgun gothic';
}

footer {
    background:#333;
    margin-top:30px;
    height:100px;
}