
header {
    width:1200px;
    margin:0 auto;
    position:relative;
}
#header_in {
    height:80px;
}
#logo {
    font-size:36px;
    margin-top:30px;
    margin-left:20px;
}
#search_area {
    margin-top:-40px;
    margin-left:230px;
}
#search_area > #search_input {
    padding:10px;
    border-radius:50px;
    width:700px;
}
#search_area > img {
    position:absolute;
    top:-20px;
}
#catagory {
    width:250px;
    height:300px;
    background:#0099ff;
    color:white;
    position:relative;
}
#catagory_title {
    padding:10px;
    background:#0066cc;
}
#menu {
    position:absolute;
    left:-40px;

    top:25px;
}
#menu > ul {
    list-style: none;
}
#menu > ul > li {
    width:250px;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:solid 1px white;
}
#menu > ul > li:hover {
    background:#58c1fd;
}
#catagory_hover_img {
    width:950px;
    height:300px;
    float:right;
    margin-top:-300px;
}

#main_sec1 {
    width:100%;
    margin: 0 auto;
    background:#f2f2f2;
    margin-top:20px;
}

#main_sec1_in {
    width:1200px;
    height:510px;
    margin: 0 auto;
    position:relative;
}

#sec1_title {
    margin-top:20px;
    position:absolute;
    font:bold 24px  'malgun gothic';
}
#sec1_update {
    float:right;
    margin-top:-20px;
}
#sec1_product {
    margin: 0 auto;
    margin-top:80px;
    position:absolute;
}
.product_pulinfo {
    width:370px;
    height:400px;
    border:solid 2px #d5d5d5;
    background:white;
}

.product_pulimg {
    margin-top:0px;
    width:370px;
    height:320px;
    position:absolute;
}
.product_pultitle {
    font:bold 18px 'malgun gothic';
    position:absolute;
    margin-top:335px;
    margin-left:20px;
}
.product_pulprice {
    font: 16px 'malgun gothic';
    position:absolute;
    margin-top:365px;
    margin-left:20px;
}
.product_pulbuycount {
    font: 16px 'malgun gothic';
    margin-top:345px;
    float:right;
    margin-right:20px;
}
.product_pulrank {
    background:#70c2ec;
    width:50px;
    height:50px;
    text-align:center;
    color:white;
    font:bold 24px 'malgun gothic';
    line-height:50px;
    position:absolute;
}

#sec1_product > .product_pulinfo {
    float:left;
    margin-left:20px;
}

.product_rank {
    background:#70c2ec;
    width:50px;
    height:50px;
    text-align:center;
    color:white;
    font:bold 24px 'malgun gothic';
    line-height:50px;
    position:absolute;
}
.product_info {
    width:500px;
    height:300px;
    margin-left:-10px;
}
#sec2_product .product_info {
    float:left;
    margin-left:30px;
}


#sec1_product > .product_info {
    float:left;
    margin-left:20px;
}

#main_sec2_in .product_time {
    margin-top:10px;
    font:bold 30px 'malgun gothic';
    color:red;
}

#main_sec2_in .product_title {
    margin-top:10px;
    font-size:26px;
}
#main_sec2_in .product_price {
    margin-top:50px;
    font-size:20px;
}

.product_img {
    margin-top:-50px;
    width:250px;
    height:200px;
    position:absolute;
}
.product_title {
    font:bold 18px 'malgun gothic';
    position:absolute;
    margin-top:210px;
}
.product_price {
    font: 16px 'malgun gothic';
    position:absolute;
    margin-top:235px;
}

#main_sec2 {
    width:100%;
    margin: 0 auto;

    margin-top:20px;
}

#main_sec2_in {
    width:1200px;
    height:310px;
    margin: 0 auto;
    position:relative;
    border:solid 1px white;
}

#sec2_product {
    width:1100px;
    margin:0 auto;
    margin-top:60px;
}

#sec2_product .product_img {
    margin-left:250px;
}


#main_sec3 {
    width:100%;
    margin: 0 auto;
    background:#f2f2f2;
    margin-top:20px;
}

#main_sec3_in {
    width:1200px;
    height:380px;
    margin: 0 auto;
    position:relative;

}

#main_sec3 .product_img{
    margin-top:0px;
    width:250px;
    height:200px;
    position:absolute;

}

#main_sec3 .product_title {
    font:bold 18px 'malgun gothic';
    position:absolute;
    margin-top:220px;
}
#main_sec3 .product_price {
    font: 16px 'malgun gothic';
    position:absolute;
    margin-top:245px;
}

#main_sec3 .product_info {
    width:250px;
    height:300px;

}
#main_sec3 .product_info {
    float:left;
    margin-left:30px;
}

#sec2_product .product_info {
    float:left;
    margin-left:30px;
}







footer {
    background:#333;
 
    height:100px;
}
footer > div {
    width:1200px;

    margin: 0 auto;
    text-align:center;
    font:bold 32px 'malgun gothic';
    color:white;
    padding-top:20px;
}