#sub_content {
    width:100%;
    position:relatvie;
    margin-top:50px;
}
#sub_content_in {
    width:1200px;

}
#sub_object {
    position:relative;

}
#sub_title{
    font:bold 18px 'malgun gothic';
}
#sub_View {
    background:gray;
    border-radius:50px;
    height:30px;
    width:100px;
    position:absolute;
    right:140px;
    top:0;
}
#sub_Sort {
    background:gray;
    border-radius:50px;
    height:30px;
    width:100px;
    position:absolute;
    right:30px;
    top:0;
}

#sub_product {
    width:1400px;
    height:800px;
    margin-top:30px;
    position:relative;
}
#sub_product_catagory {
    width:400px;
    height:400px;
    border:solid 1px gray;
    border-radius: 30px;
    position:absolute;
    left:0;
    background:gray;
}

#sub_product_catagory_t {
    font:bold 20px 'malgun gothic';
    margin-top:30px;
    margin-left:30px;
}

#sub_product_option {
    width:400px;
    height:400px;
    border:solid 1px gray;
    border-radius: 30px;
    position:absolute;
    left:0;
    top:450px;
    
}
#sub_product_wrap {
    width:1000px;
    border:solid 1px blueviolet;
    position:absolute;
    right:0;
    top:0;
}
#sub_product_wrap_in {
	margin-top:30px;
	position:absolute;

}

#sec1_product {
	margin: 0 auto;
	margin-top:80px;
	position:absolute;
}
.sub_product_pulinfo {
	width:310px;
	height:400px;
	border:solid 1px #d5d5d5;
	background:white;
	margin-top:30px;
}

.sub_product_pulimg {
	margin-top:0px;
	width:370px;
	height:320px;
	position:absolute;
}
.sub_product_pultitle {
	font:bold 18px 'malgun gothic';
	position:absolute;
	margin-top:335px;
	margin-left:20px;
}
.sub_product_pulprice {
	font: 16px 'malgun gothic';
	position:absolute;
	margin-top:365px;
	margin-left:20px;
}
.sub_product_pulbuycount {
	font: 16px 'malgun gothic';
	margin-top:345px;
	float:right;
	margin-right:20px;
}

#sub_product_wrap_in > .sub_product_pulinfo {
	float:left;
	margin-left:20px;
}